<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iot.content.mapper.VideoMapper">

    <update id="batchUpdateLikeCount">
        update t_video
        set like_count = case id
            <foreach collection="list" item="item">
                when #{item.id} then #{item.likeCount}
            </foreach>
        end
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

</mapper>